.btn {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    width: 358;
    height: 48;
    border-radius: 20px;
    background-color: $color-black;
    color: $color-white;
    cursor: pointer;
}