.hero {
    margin: 0 0 74px;
    display: flex;
    gap: 15px;
    flex-direction: column;

    &__description {
        font-size: 14px;
        line-height: 20px;
    }

    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        padding: 0 0 15px;
        margin: 0;
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
        width: 339px;
        margin: 0 0 36px;
        color: $color-color-very-dark-gray-2;
    }
}

.advantages {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 40px;

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    &__card {
        border-radius: 20px;
        background-color: $color-light-gray;
        padding: 16px 12px;

        &-head {
            display: flex;
            gap: 21px;
            padding-bottom: 25px;
        }

        &-icon-wrapper {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 66px;
            height: 66px;
            background-color: $color-mostly-black;
            border-radius: 50%;
            flex-shrink: 0;
        }

        &-title {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
        }

        &-text {
            font-size: 18px;
            line-height: 25px;
        }
    }
}

.scenary {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 40px;

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    &__item {
        display: flex;
        background-color: $color-light-gray;
        border-radius: 10px;
        align-items: center;
        justify-content: space-between;
        padding: 0 13px;

        &-text {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            padding: 21px 0;
        }

        &-btn {
            display: inline-flex;
            flex-shrink: 0;
            cursor: pointer;
        }
    }

    &__details {
        display: none;

        &-title {
            font-weight: 700;
            line-height: 24px;
        }

        &-symbol {
            margin: 0 auto;
        }

        &-text {
            line-height: 24px;
        }

        &--active {
            background-color: $color-very-color-light-gray;
            margin-top: -15px;
            padding: 10px 13px 21px 13px;
            border-radius: 0 0 10px 10px;
            display: flex;
            flex-direction: column;
            gap: 6px;
            display: flex;
        }
    }
}

.scenary__details-symbol {
    transition: transform 0.3s ease;
}

.scenary__details-symbol--active {
    transform: rotate(90deg);

}

.feedback {

    &__wrapper {
        padding: 19px;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
        min-width: 330px;
    }

    &__btn {
        margin-bottom: 40px;
    }

    &__card {
        background-color: $color-light-gray;
        border-radius: 10px;

        &-title {
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            margin: 0 auto;
            text-align: center;
        }

        &-text {
            font-size: 14px;
            line-height: 20px;
            color: $color-color-very-dark-gray-2;
        }

        &-form {
            display: flex;
            flex-direction: column;
            gap: 14px;
        }

        &-input {
            width: 321px;
            height: 48px;
            border-radius: 10px;
            border-width: 1px;
            padding: 16px 13px;
        }

        &-agreement,
        &-link {
            font-size: 14px;
            color: $color-color-very-dark-gray-2;
        }

        &-agreement {
            display: flex;
            gap: 14px;
        }

        &-btn {
            width: 321px;
            flex-shrink: 0;
            align-self: center;
        }
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}