.scenary-card {
    @apply relative w-[100%] h-full;
    display: grid;
    grid-template-rows: auto 0fr;
    transition: grid-template-rows $transition;

    &__wrapper {
        padding: 0 0 0 14px;
        background-color: $color-light-gray;
        transition: background-color $transition;
        @apply flex w-[100%] justify-between items-center rounded-[5px] h-[66px];

        &::before {
            border: 2px solid $color-red;
            border-right-color: transparent;
            border-radius: 5px 0 0 5px;
            transition: border-color $transition;
            @apply content-[''] absolute h-[58px] w-[80%] left-[4px]
        }
    }

    &__text {
        font-family: $ff-tektur;
        padding: 0 20px 0 0;
        transition: color $transition;
        @apply text-[16px]/[18px] font-medium;
    }

    &__decorative-btn {
        background-color: $color-black;
        @apply w-[78px] h-[78px] rounded-[50%] shrink-0 relative left-[15px]
    }

    &__btn {
        background-color: $color-red;
        transform: translate(-50%, -50%);
        transition: background-color $transition;
        @apply absolute w-[48px] h-[48px] top-[50%] left-[50%] rounded-[50%]
    }

    &__icon {
        @apply text-white;
        transition: color $transition, transform $transition;

        &--active {
            color: $color-red;
            transform: rotate(90deg);
        }
    }

    &__details {
        background-color: $color-black;
        transition: transform $transition 0.3s, opacity $transition;
        min-height: 0;
        overflow: hidden;
        transform: translateY(-8px);
        @apply opacity-0 flex flex-col items-center
    }

    &__inner {
        padding: 10px 12px 20px;
        @apply flex flex-col items-center;
    }

    &__title {
        @apply text-white mb-[9px] text-[16px]/[20px] font-semibold
    }

    &__text-details {
        color: white;
        @apply text-[16px]/[20px] font-normal
    }

    &--active {
        grid-template-rows: auto 1fr;

        .scenary-card {
            &__wrapper {
                background-color: $color-red;

                &::before {
                    border-color: white;
                    border-right-color: transparent;
                }
            }

            &__text {
                color: white
            }

            &__btn {
                background-color: white;
            }

            &__details {
                transform: translateY(0);
                transition: transform $transition, opacity $transition 0.3s;
                @apply opacity-100 z-10
            }
        }
    }
}