@import "tailwindcss";

html {
  @apply antialiased
}

body {
  font-family: $ff-inter;
  background-color: $color-gainsboro;
  @apply min-h-[100vh] flex flex-col;

  // &:has(.header) {
  //   background-color: $color-white;
  // }
}

main {
  flex-grow: 1;
}