@import "tailwindcss";

// Colors
$color-very-dark-gray: #5C5C5C;
$color-very-dark-gray--2: #5a5a5a;
$color-color-very-dark-gray-2: #3f3f3f;
$color-light-gray: #D1D1D1;
$color-mostly-black: #272727;
$color-very-color-light-gray: #e8e8e8;
$color-gainsboro: #dddddd;
$color-dark-gray: #9F9F9F;
$color-dark-gray--2: #AAAAAA;

// Landing 2.0 color's
$color-white: #ffffff;
$color-black: #131516;
$color-black-hover: #1D1D1D;
$color-nero-70: rgba(39, 36, 36, 0.7);
$color-dodger-blue-90: rgba(39, 135, 245, 0.9);
$color-biloba-flower-90: rgba(163, 147, 245, 0.9);
$color-orange: #EA5932;
$color-red: #6D071F;
$color-red-light: #84233A;
$color-red-dark: #540316;
$color-gray: #7D7D7D;
$color-gray-light: #E0E0E0;
$color-gray-light-2: #3F3F3F;
$color-gray-dark: #9F9F9F;
$color-error: #FF1B1B;

@theme {
    --color-white-custom: #ffffff;
    --color-white-25-custom: rgba(255, 255, 255, 0.25);
    --color-white-50-custom: rgba(255, 255, 255, 0.5);
    --color-white-70-custom: rgba(255, 255, 255, 0.7);
    --color-white-80-custom: rgba(255, 255, 255, 0.8);
    --color-black-custom: #131516;
    --color-cornflower-blue: #67A5EB;
    --color-black-40-custom: rgba(0, 0, 0, 0.40);
    --color-heliotrope: #DC5DFC;
    --color-montana: #393B3C;
    --color-charcoal: #ff0000;
    --color-slate-blue: #6A5DC2;
    --color-error: #FF1B1B;
    --color-gray-light: #E0E0E0;
    --color-red: #6D071F;
}

// Typography

$ff-inter: 'Inter', Arial, sans-serif;
$ff-tektur: 'Tektur', Arial, sans-serif;
$ff-monserat: 'Montserrat', Arial, sans-serif;

// Viewport

$vp-mobile: 375px;
$vp-sm: 576px;
$vp-tablet: 768px;
$vp-lg: 1024px;
$vp-desktop: 1440px;

// Transition
$transition: ease-in 0.3s;
$transition-page: ease-in 0.5s;
$transition-animation: ease-in 1s;