$transition: cubic-bezier(0.4, 0, 0.2, 1);

.scenary {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: $color-white;
        font-family: $ff-tektur;
    }

    &__item {
        display: flex;
        background-color: $color-light-gray;
        border-radius: 10px 10px 0 0;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        width: 100%;
        cursor: pointer;

        &-head {
            padding: 14px;
            display: flex;
            gap: 23px;
        }

        &-text {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            font-family: $ff-tektur;
        }

        &-btn {
            display: inline-flex;
            flex-shrink: 0;
            cursor: pointer;
            color: $color-white;
            background-color: $color-red;
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }

        &-wrapper {
            overflow: hidden;
            transition:
                max-height 0.3s $transition,
                background-color 0.3s $transition;
            max-height: 76px;
            background-color: $color-black;

            &--active {
                max-height: 1000px;
                opacity: 1;
                pointer-events: auto;

                .scenary__item {
                    background-color: $color-red;
                }

                .scenary__item-text {
                    color: $color-white;
                }

                .scenary__item-btn {
                    background-color: $color-white;
                    color: $color-black;
                }

                .scenary__details {
                    background-color: $color-white;

                    .scenary__details-title {
                        color: $color-black;
                    }
                }
            }
        }
    }

    &__details {
        opacity: 0;
        transform: translateY(-8px);
        pointer-events: none;
        transition:
            opacity 0.3s $transition,
            transform 0.3s $transition;
        padding: 10px 13px 22px 13px;
        background-color: $color-black;
        border-radius: 0 0 10px 10px;

        &-title {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            margin: 0 0 10px 0;
            color: $color-white;
        }

        &-icon {
            margin: 0 auto 5px;
            color: $color-black;
        }

        &-symbol {
            margin: 0 auto;
            transition: transform 0.3s ease;

            &--active {
                transform: rotate(90deg);
            }
        }

        &-text {
            line-height: 20px;
            font-size: 16px;
            color: $color-gray;
        }
    }
}

.scenary__item-wrapper--active .scenary__details {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}