.feedback {
    margin-bottom: 54px;

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
        color: $color-orange;
        font-family: $ff-tektur;
    }

    &__text {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
        min-width: 330px;
        color: $color-gray-light;
    }

    &__btn {
        margin-bottom: 40px;
    }
}

